@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

h5,
p {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.material-symbols-outlined {
    padding: 2.5%;
    scale: 0.65;
}

body {
    background-color: #37474f;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    left: 5%;
    top: 10%;
    filter: blur(125px)
}

body::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #2C87BF;
    bottom: 15%;
    right: 12.5%;
    filter: blur(75px)
}

.container {
    position: relative;
    height: 347px;
    width: 1140px;
    background-color: rgba(0, 118, 191, 0.7);
    border-radius: 24px;
    box-shadow: 3.5px 7.5px 4.5px rgba(0, 0, 0, 0.2);
}

.title {
    position: absolute;
    top: 20px;
    left: 300px;
    width: 270px;
    height: 46.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    text-align: center;
    line-height: 46.5px;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.title h5 {
    position: relative;
    top: 10px;
}

.last_update {
    position: absolute;
    top: 20px;
    right: 300px;
    width: 116.5px;
    height: 46.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    text-align: center;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.temp {
    left: 300px;
    background-color: #67A7CE;
}

.temp:hover {
    scale: 104%;
}

.hum {
    background-color: #2C87BF;
    left: 410px;
}

.hum:hover {
    scale: 104%;
}

.moist {
    background-color: #2C87BF;
    left: 520px;
}

.moist:hover {
    scale: 104%;
}

.water {
    background-color: #2C87BF;
    left: 630px;
}

.water:hover {
    scale: 104%;
}

.light {
    background-color: #2C87BF;
    left: 740px;
}

.light:hover {
    scale: 104%;
}

.temp,
.hum,
.moist,
.water,
.light {
    position: absolute;
    top: 96px;
    width: 100px;
    height: 100px;
    border-radius: 15.5px;
    text-align: center;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
    transition: scale 0.2s;
}

.temp_graph {
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 560px;
    height: 117.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.hum_graph {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 560px;
    height: 117.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.moist_graph {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 560px;
    height: 117.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.water_graph {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 560px;
    height: 117.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.light_graph {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 300px;
    width: 560px;
    height: 117.5px;
    background-color: #2C87BF;
    border-radius: 16px;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.temp h5,
.hum h5,
.moist h5,
.water h5,
.light h5 {
    position: relative;
    top: 7.5px;
    left: -2.5%;

}

.temp p,
.hum p,
.moist p,
.water p,
.light p {
    position: relative;
    top: 10px;
    font-size: 15px;
}

.last_update h5 {
    position: relative;
    top: 5px;
}

.last_update p {
    position: relative;
    font-size: 10px;
}

.sliders {
    position: absolute;
    right: 1px;
    width: 270px;
    height: 361px;
    text-align: center;
    line-height: 46.5px;
    background-color: rgba(0, 118, 191, 0.7);
    border-radius: 24px;
    box-shadow: 3.5px 3.5px 7.5px 4.5px rgba(0, 0, 0, 0.2);
}

.slider_moisture {
    position: absolute;
    top: 175px;
    left: -25%;
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 7.5px;
    border-radius: 2.5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(270deg);
}

.slider_moisture:hover {
    opacity: 1;
}

.slider_watering {
    transform: rotate(270deg);
    position: absolute;
    top: 175px;
    right: -25%;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2.5px;
    width: 250px;
    height: 7.5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider_watering:hover {
    opacity: 1;
}

.slider_moisture::-webkit-slider-thumb,
.slider_watering::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12.5px;
    height: 12.5px;
    border-radius: 25px;
    background: #fbff02;
    cursor: pointer;
}

.slider_moisture::-moz-range-thumb,
.slider_watering::-moz-range-thumb {
    width: 12.5px;
    height: 12.5px;
    border-radius: 25px;
    background: #eeff02;
    cursor: pointer;
}

.moisture_slider_container h6 {
    user-select: none;
    position: absolute;
    top: 7%;
    left: 10%;
    font-size: 13px;
}

.moisture_slider_container p {
    user-select: none;
    position: absolute;
    bottom: 2%;
    left: 18%;
}

.watering_slider_container h6 {
    user-select: none;
    position: absolute;
    top: 7%;
    right: 11%;
    font-size: 13px;
}

.watering_slider_container p {
    user-select: none;
    position: absolute;
    bottom: 2%;
    right: 18%;
}

.sliderbox1 {
    position: relative;
    top: 2%;
    left: 7.5%;
    width: 75px;
    height: 325px;
    background-color: #2C87BF;
    border-radius: 16px;
    text-align: center;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.sliderbox2 {
    position: absolute;
    top: 2%;
    right: 7.5%;
    width: 75px;
    height: 325px;
    background-color: #2C87BF;
    border-radius: 16px;
    text-align: center;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

.button_container {
    position: absolute;
    width: 270px;
    height: 361px;
    text-align: center;
    line-height: 46.5px;
    background-color: rgba(0, 118, 191, 0.7);
    border-radius: 24px;
    box-shadow: -3.5px 3.5px 7.5px 4.5px rgba(0, 0, 0, 0.2);
}

.button {
    user-select: none;
    position: relative;
    display: inline-block;
    top: 10%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a71e1e;
    border: none;
    border-radius: 22.5px;
    box-shadow: -3.5px 3.5px 7.5px 4.5px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #801919
}

.button:active {
    background-color: #801919;
    box-shadow: -3.5px 3.5px 2.5px 1.5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.button_container p {
    user-select: none;
    position: relative;
    top: 100px;
}

.light_button {
    position: relative;
    top: 100px;
    left: 122.5px;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: rgba(39, 39, 39, 0.8);
    border-width: 1px;
    background-color: #727374;
    border-radius: 15px;
    box-shadow: -0.5px 0.5px 7.5px 0.5px rgba(0, 0, 0, 0.1);
}

.buttonbox {
    position: absolute;
    top: 4%;
    left: 47.5px;
    width: 175px;
    height: 300px;
    background-color: #2C87BF;
    border-radius: 16px;
    text-align: center;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);
}

#logout_button {
    position: absolute;
    top: 0.5px;
    right: 330px;
    width: 50px;
    height: 20px;
    background-color: #801919;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: white;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.15);
}

#logout_button:hover {
    background-color: #601717;
}